<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        
        <div class="card-body">
          <form class="row">
            <div class=" col-12 mb-2">
              <div class="input-group mb-3 d-flex">
                <button class="btn btn-secondary" type="button"><i class="bi bi-search"></i></button>
                <input type="text" class="form-control mx-2" placeholder="" aria-label="Example text with two button addons">
                <button class="btn btn-danger" type="button"><i class="bi bi-trash"></i></button>
            </div>
            
              
            </div>
            
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label">Estilo</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label">Color</label>
                <input type="texts" class="form-control">
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label">Marca</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label">Talla</label>
                <input type="texts" class="form-control">
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label">Estado Actual</label>
                <input type="texts" class="form-control">
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label">Nuevo Estado</label>
                <select class="form-select">
                  <option value="United States">Selecciona uno</option>
                  <option value="United Kingdom">Almacen</option>
                  <option value="Afghanistan">Embarque</option>
                  <option value="Aland Islands">Perdido</option>
                  <option value="Albania">Defectuoso</option>  
                </select>
              </div>
            </div>
            <div class="col-6 d-flex">
              <button (click)="startScan()" type="button" class="btn btn-light px-1 m-auto radius-50 d-flex justify-content-center align-items-center"><i class="fadeIn m-auto animated bx bx-scan"></i><span class="mx-1 fs-6">Escanear</span></button>
            </div>
            <div class="col-6 d-flex text-sm">
              <button type="button" class="btn m-auto btn-light btn-block px-1 radius-50 d-flex justify-content-center align-items-center"><span class="mx-1 py-2" style="font-size: 12px;">Realizar Movimiento</span></button>
            </div>
           <!--  <div class="mb-3">
              <label class="form-label">Date time:</label>
              <input type="datetime-local" class="form-control">
            </div>
            <div class="mb-3">
              <label class="form-label">Email:</label>
              <input type="email" class="form-control" placeholder="example@gmail.com">
            </div>
            <div class="mb-3">
              <label class="form-label">Password:</label>
              <input type="password" class="form-control" value="........">
            </div>
            <div class="mb-3">
              <label class="form-label">Input File:</label>
              <input type="file" class="form-control">
            </div>
            <div class="mb-3">
              <label class="form-label">Month:</label>
              <input type="month" class="form-control">
            </div>
            <div class="mb-3">
              <label class="form-label">Search:</label>
              <input type="search" class="form-control">
            </div>
            <div class="mb-3">
              <label class="form-label">Tel:</label>
              <input type="tel" class="form-control">
            </div>
            <div class="mb-3">
              <label class="form-label">Time:</label>
              <input type="time" class="form-control">
            </div>
            <div class="mb-3">
              <label class="form-label">Url:</label>
              <input type="url" class="form-control" placeholder="https://example.com/users/">
            </div>
            <div class="mb-3">
              <label class="form-label">Week:</label>
              <input type="week" class="form-control">
            </div> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>