<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form class="row">
            <div class=" col-md-10 col-12">
              <div class="flex-grow-1">
                <div class="position-relative search-bar-box">
                  <input type="text" class="form-control search-control" placeholder="Type to search..."> <span class="position-absolute top-50 search-show translate-middle-y"><i class='bx bx-search'></i></span>
                  <span class="position-absolute  search-close translate-middle-y"></span>
                </div>
              </div>
            </div>
            <div class="col-md-1 col-6">
              <button type="button" class="btn btn-light btn-sm px-2 radius-50"><i class="mr-1 bx bx-search-alt"></i></button>
            </div>
            <div class="col-md-1 col-6 d*flex">
              <button type="button" class="btn btn-light btn-sm px-2 radius-50"><i class="mr-1 lni lni-spinner-arrow"></i></button>
            </div>
            
            <div class="col-6">
              <div class="mb-3">
                <label class="form-label">Estilo</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3">
                <label class="form-label">Color</label>
                <input type="texts" class="form-control">
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3">
                <label class="form-label">Marca</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3">
                <label class="form-label">Talla</label>
                <input type="texts" class="form-control">
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label">Estado Actual</label>
                <input type="texts" class="form-control">
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label">Nuevo Estado</label>
                <select class="single-select">
                  <option value="United States">Selecciona uno</option>
                  <option value="United Kingdom">Almacen</option>
                  <option value="Afghanistan">Embarque</option>
                  <option value="Aland Islands">Perdido</option>
                  <option value="Albania">Defectuoso</option>  
                </select>
              </div>
            </div>
            <div class="col-md-6 col-12 d-flex">
              <button (click)="startScan()" type="button" class="btn btn-light px-3 m-auto radius-50 d-flex justify-content-center align-items-center"><i class="fadeIn m-auto animated bx bx-scan"></i><span class="mx-1 fs-6">Escanear</span></button>
            </div>
            <div class="col-md-6 col-12 d-flex">
              <button type="button" class="btn m-auto btn-light btn-block px-3 radius-50 d-flex justify-content-center align-items-center"><span class="mx-1 fs-6">Realizar Movimiento</span></button>
            </div>
           <!--  <div class="mb-3">
              <label class="form-label">Date time:</label>
              <input type="datetime-local" class="form-control">
            </div>
            <div class="mb-3">
              <label class="form-label">Email:</label>
              <input type="email" class="form-control" placeholder="example@gmail.com">
            </div>
            <div class="mb-3">
              <label class="form-label">Password:</label>
              <input type="password" class="form-control" value="........">
            </div>
            <div class="mb-3">
              <label class="form-label">Input File:</label>
              <input type="file" class="form-control">
            </div>
            <div class="mb-3">
              <label class="form-label">Month:</label>
              <input type="month" class="form-control">
            </div>
            <div class="mb-3">
              <label class="form-label">Search:</label>
              <input type="search" class="form-control">
            </div>
            <div class="mb-3">
              <label class="form-label">Tel:</label>
              <input type="tel" class="form-control">
            </div>
            <div class="mb-3">
              <label class="form-label">Time:</label>
              <input type="time" class="form-control">
            </div>
            <div class="mb-3">
              <label class="form-label">Url:</label>
              <input type="url" class="form-control" placeholder="https://example.com/users/">
            </div>
            <div class="mb-3">
              <label class="form-label">Week:</label>
              <input type="week" class="form-control">
            </div> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>