<div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          
          <div class="card-body">
            <form class="row">
              <div class=" col-12 mb-2">
              <div _ngcontent-utt-c226="" class="input-group">
                <div _ngcontent-utt-c226="" class="input-group-prepend">
                  <button _ngcontent-utt-c226="" type="button" class="btn btn-secondary">
                    <i class="bi bi-search"></i>
                  </button>
                </div>
              <input _ngcontent-utt-c226="" type="text" placeholder="Ingresa ID de la etiqueta" class="form-control">
              <div _ngcontent-utt-c226="" class="input-group-append">
                <button _ngcontent-utt-c226="" type="button" class="btn btn-danger">
                  <i class="bi bi-trash"></i>
                </button>
              </div>
            </div>
                
              </div>
              
              <div class="col-12">
                <div class="mb-3">
                  <label class="form-label">Estilo</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-12">
                <div class="mb-3">
                  <label class="form-label">Color</label>
                  <input type="texts" class="form-control">
                </div>
              </div>
              <div class="col-12">
                <div class="mb-3">
                  <label class="form-label">Marca</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-12">
                <div class="mb-3">
                  <label class="form-label">Talla</label>
                  <input type="texts" class="form-control">
                </div>
              </div>
              <div class="col-12">
                <div class="mb-3">
                  <label class="form-label">Estado Actual</label>
                  <input type="texts" class="form-control">
                </div>
              </div>
              <div class="col-12">
                <div class="mb-3">
                  <label class="form-label">Nuevo Estado</label>
                  <select class="form-select">
                    <option value="United States">Selecciona uno</option>
                    <option value="United Kingdom">Almacen</option>
                    <option value="Afghanistan">Embarque</option>
                    <option value="Aland Islands">Perdido</option>
                    <option value="Albania">Defectuoso</option>  
                  </select>
                </div>
              </div>
              <div class="col-12">
                <div class="mb-3">
                  <label class="form-label">Pedido</label>
                  <select class="form-select">
                    <option value="United States">Selecciona uno</option>
                    <option value="United Kingdom">cliente 0</option>
                    <option value="Afghanistan">Cliente 5</option>
                    <option value="Aland Islands">Cliente 10</option>
                    <option value="Albania">Cliente 20</option>  
                  </select>
                </div>
              </div>
                <!---->
  <div class="col-12">
    <div class="row">
      <span _ngcontent-utt-c243="" class="badge badge-pill badge-info">Escaneados:<span _ngcontent-utt-c243="" class="badge badge-pill badge-info"><h6>0</h6></span></span>
    </div>
  </div>

              <div class="col-12 col-md-4 d-flex text-sm mt-3">
                <button type="button" class="btn btn-light m-auto radius-50 d-flex justify-content-center align-items-center px-5"><i class="fadeIn m-auto animated bx bx-scan"></i><span class="mx-1">Escanear</span></button>
              </div>
              <div class="col-12 col-md-4 d-flex text-sm mt-3">
                <button type="button" class="btn m-auto btn-light btn-block px-1 radius-50 d-flex justify-content-center align-items-center"><span class="px-5 py-2" style="font-size: 14px;">Imprimir</span></button>
              </div>
              <div class="col-12 col-md-4 d-flex text-sm mt-3">
                <button type="button" class="btn m-auto btn-light btn-block px-1 radius-50 d-flex justify-content-center align-items-center"><span class="mx-5 py-2" style="font-size: 14px;">Realizar</span></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>