<div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          
          <div class="card-body">
            <form class="row">
              <div class=" col-12 mb-2">
              <div _ngcontent-utt-c226="" class="input-group">
                <div _ngcontent-utt-c226="" class="input-group-prepend">
                  <button _ngcontent-utt-c226="" type="button" class="btn btn-secondary">
                    <i class="bi bi-search"></i>
                  </button>
                </div>
              <input _ngcontent-utt-c226="" type="text" placeholder="Ingresa ID de la etiqueta" class="form-control">
              <div _ngcontent-utt-c226="" class="input-group-append">
                <button _ngcontent-utt-c226="" type="button" class="btn btn-danger">
                  <i class="bi bi-trash"></i>
                </button>
              </div>
            </div>
                
              </div>


              <div _ngcontent-xes-c209="" class="row">
                <div _ngcontent-xes-c209="" class="col-12 col-lg-4 col-xl-4">
                    <div _ngcontent-xes-c209="" class="card border-0 card-img-1 border-angle">
                        <div _ngcontent-xes-c209="" class="card-body">
                            <div _ngcontent-xes-c209="" class="row align-items-center">
                                <div _ngcontent-xes-c209="" class="col text-right">
                                    <i _ngcontent-xes-c209="" class="zmdi zmdi-more-vert text-white fa-2x"></i>
                                </div>
                            </div>
                            <p _ngcontent-xes-c209="" class="extra-small-font text-white"><img _ngcontent-xes-c209="" src="https://i.etsystatic.com/26651153/r/il/75d2f0/3696635326/il_1588xN.3696635326_kne9.jpg" alt="user avatar" class="rounded customer-img" style="width: 60px;"> Par ID:</p>
                            <h5 _ngcontent-xes-c209="" class="mb-0 text-white">14614127NEG280028</h5>
                            <small _ngcontent-xes-c209="" class="text-white"><b>Estilo:</b> 127, <b>Color:</b> Negro, <b>Talla:</b> 280.</small>
                            <hr _ngcontent-xes-c209="" class="border-light-2">
                            <button _ngcontent-xes-c209="" class="btn btn-round btn-danger btn-sm m-1"><i class="bi bi-trash"></i></button>
                       
                            </div>
                        </div>
                    </div>
                    <div _ngcontent-xes-c209="" class="col-12 col-lg-4 col-xl-4">
                        <div _ngcontent-xes-c209="" class="card border-0 card-img-2 border-angle">
                            <div _ngcontent-xes-c209="" class="card-body">
                                <div _ngcontent-xes-c209="" class="row align-items-center">
                                    <div _ngcontent-xes-c209="" class="col text-right">
                                        <i _ngcontent-xes-c209="" class="zmdi zmdi-more-vert text-white fa-2x"></i>
                                    </div>
                                </div>
                                <p _ngcontent-xes-c209="" class="extra-small-font text-white"><img _ngcontent-xes-c209="" src="https://i.etsystatic.com/26651153/r/il/957b6f/3744222739/il_1588xN.3744222739_9prm.jpg" alt="user avatar" class="rounded customer-img" style="width: 60px;"> Par ID:</p>
                                    <h5 _ngcontent-xes-c209="" class="mb-0 text-white">14614127NEG280028</h5>
                                    <small _ngcontent-xes-c209="" class="text-white"><b>Estilo:</b> 127, <b>Color:</b> Negro, <b>Talla:</b> 280.</small>
                                    <hr _ngcontent-xes-c209="" class="border-light-2">
                                    <button _ngcontent-xes-c209="" class="btn btn-round btn-danger btn-sm m-1"><i class="bi bi-trash"></i></button>
                               
                                </div>
                            </div>
                        </div>
                        <div _ngcontent-xes-c209="" class="col-12 col-lg-4 col-xl-4">
                            <div _ngcontent-xes-c209="" class="card border-0 card-img-3 border-angle">
                                <div _ngcontent-xes-c209="" class="card-body">
                                    <div _ngcontent-xes-c209="" class="row align-items-center">
                                        <div _ngcontent-xes-c209="" class="col text-right">
                                            <i _ngcontent-xes-c209="" class="zmdi zmdi-more-vert text-white fa-2x"></i>
                                        </div>
                                    </div>
                                    <p _ngcontent-xes-c209="" class="extra-small-font text-white"><img _ngcontent-xes-c209="" src="https://i.etsystatic.com/26651153/r/il/02d534/3744222747/il_1588xN.3744222747_a6vc.jpg" alt="user avatar" class="rounded customer-img" style="width: 60px;"> Par ID:</p>
                                    <h5 _ngcontent-xes-c209="" class="mb-0 text-white">14614127NEG280028</h5>
                                    <small _ngcontent-xes-c209="" class="text-white"><b>Estilo:</b> 127, <b>Color:</b> Negro, <b>Talla:</b> 280.</small>
                                    <hr _ngcontent-xes-c209="" class="border-light-2">
                                    <button _ngcontent-xes-c209="" class="btn btn-round btn-danger btn-sm m-1"><i class="bi bi-trash"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

              <div class="col-6 d-flex">
                <button (click)="startScan()" type="button" class="btn btn-light px-1 m-auto radius-50 d-flex justify-content-center align-items-center"><i class="fadeIn m-auto animated bx bx-scan"></i><span class="mx-1 fs-6">Escanear</span> </button>
              </div>
              <div class="col-6 d-flex text-sm">
                <button type="button" class="btn m-auto btn-light btn-block px-1 radius-50 d-flex justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#exampleVerticallycenteredModal"><span class="" style="font-size: 15px;"><i class="bi bi-arrow-right-circle-fill ms-1"></i> Continuar </span></button>
            
                
            </div>
  <!---->
              

  <div class="col-6">
  </div>
  <div class="col-6">
    <div class="row">
      <span _ngcontent-utt-c243="" class="badge badge-pill badge-info">Pares:<span _ngcontent-utt-c243="" class="badge badge-pill badge-info"><h6>0</h6></span></span>
    </div>
  </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>




						<!-- Modal primero-->
						<div class="modal fade" id="exampleVerticallycenteredModal" tabindex="-1" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Datos de la Venta-Devolución</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
                    
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                      <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                      <label class="btn btn-outline-primary" for="btnradio1">0</label>
                    
                      <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                      <label class="btn btn-outline-primary" for="btnradio2">5</label>
                    
                      <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                      <label class="btn btn-outline-primary" for="btnradio3">10</label>
  
                      <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                      <label class="btn btn-outline-primary" for="btnradio4">15</label>
  
                      <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">
                      <label class="btn btn-outline-primary" for="btnradio5">20</label>
                    </div>
                    <br>

                    <label for="clientSelect" class="form-label pt-4">Seleccione un cliente:</label>
                    <select class="form-select" id="clientSelect" aria-label="Seleccionar cliente">
                      <option selected>Seleccione un cliente</option>
                      <option value="1">Cliente 1</option>
                      <option value="2">Cliente 2</option>
                      <option value="3">Cliente 3</option>
                      <option value="4">Cliente 4</option>
                    </select>
                    
                    <label for="exampleFormControlInput1" class="form-label pt-4">Cliente:</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Lozano-Imports">

                    <label for="exampleFormControlInput1" class="form-label pt-4">Fecha:</label>
                    <input type="text" class="form-control" id="currentDate" [value]="today" readonly>
                    
                    <div class="modal-footer">
										<button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="bi bi-file-x"></i> Cancelar</button>
										<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleVerticallycenteredModal2"><i class="bi bi-arrow-right-circle"></i> Continuar</button>
									</div>
								</div>
							</div>
						</div>
            </div>
	<!-- Modal segundo -->
  <div class="modal fade" id="exampleVerticallycenteredModal2" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Cliente: Cliente 0</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="col-12">
            <label for="staticEmail" class="col-sm-2 col-form-label">Pares: 1</label></div>
         <div class="col-12"><label for="staticEmail" class="col-sm-12 col-form-label">Subtotal: $865.0</label></div>
         <div class="col-12"><label for="staticEmail" class="col-sm-12 col-form-label">Descuento: $0.0</label></div>
         <div class="col-12"><label for="staticEmail" class="col-sm-12 col-form-label">IVA: $138.4</label></div>
         <div class="col-12"><label for="staticEmail" class="col-sm-12 col-form-label"><b>Total sin IVA: $865.0</b></label></div>
         <div class="col-12"> <label for="staticEmail" class="col-sm-12 col-form-label"><b>Total con IVA: $1003.4</b></label></div>
          
          <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="bi bi-file-x"></i> Cancelar</button>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleVerticallycenteredModal3"><i class="bi bi-arrow-right-circle"></i> Continuar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--modal tercero  --> 
<div class="modal fade" id="exampleVerticallycenteredModal3" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Venta Generada Correctamente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
           ¿Deseas Imprimir una nota? 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-file-earmark-x"></i> No imprimir venta</button>
                <button type="button" class="btn btn-primary"><i class="bi bi-file-check-fill"></i> Imprimir Venta</button>
            </div>
        </div>
    </div>  
</div>

<!-- Button trigger modal final -->

